$small-break: 600px;
$medium-break: 992px;
$primary: #ffca00;
$white: #eeeeee;

.main {
  text-align: left;
  width: 65%;
  margin: 5.5rem auto;
  h3 {
    text-align: left;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  @media screen and (max-width: $small-break) {
    width: 90%;
    h3 {
      text-align: center;
    }
  }
}
