$small-break: 600px;
$medium-break: 992px;
$primary: #ffca00;
$white: #eeeeee;

.main {
  text-align: left;
  width: 65%;
  margin: 1rem auto;
  h3 {
    text-align: left;
    margin: 1rem 0;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  @media screen and (max-width: $small-break) {
    margin-top: 1rem;
    width: 90%;
    h3 {
      text-align: center;
    }
  }
}
